<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Complete</title>
</head>


<body>
    <div class = "container">
        
            <h1>Registration Complete!</h1>
            <h2>Please click the link below to log in to your account and match with other users!</h2>

        <a href="/" class="btn-primary">Log in</a>

    </div>


</body>


<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    background-color: white;
    padding: 45px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(54, 54, 54);
    text-align: center;
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 28px;
    color: black;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: black;
    margin-bottom: 20px;
}

.btn-primary {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
}

.btn-primary:hover {
    background-color: #0056b3;
}



</style>


</html>